<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo Of Me......</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/lbs/w3.css">
    <link rel="stylesheet" href="../static/index/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <h1>{{ userid }}</h1>
    <form class = 'btn-add' style="text-align:left" action="/add"  method="POST">
        <h2>Add Studen</h2>
            <input type="text" name="ten"><br>
            <input type="text" name="tuoi"><br>
            <input type="diachi" name="diachi"><br>
            <input type="submit" value="Add"><br>
    </form>


</body>
</html> 
