<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
</head>
<body>
    <h1>Teacher</h1>
    <form class = 'btn-infosv' style="text-align:left" action="/infosv"  method="POST">
        <h2>Add Studen</h2>
            Ten:<br>
            <input type="text" name="ten"><br>
            Tuoi:<br>
            <input type="number" name="tuoi"><br>
            Diachi: <br>
            <input type="text" name="diachi"><br>
            <br>
            <input type="submit" value="Add"><br>
    </form>


</body>
</html>